<!DOCTYPE html>
<html>
	<head>
		<title>Suzy Q's</title>
		<link rel='stylesheet' type='text/css' href='../public/css/main.css'>
	</head>
	<body>
	
		<header>
			<nav>
				<ul>
					<h1>Suzy Q's</h1>
					<li><a href='/index.html'>Home</a></li>
					<li><a href='#about'>About</a></li>
					<li><a href='#contact'>Contact</a></li>
					<li><a href='#menu'>Menu</a></li>
					<li><a href='#reservation-form'>Reservations</a></li>
				</ul>
			</nav>
			<img class='top' src='../Public/Images/Open24.jpg' alt=''>
		</header>
	
		<main>			
			<aside>
				<div id='about'>
					<h2>Our History</h2>
					<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pellentesque venenatis eleifend. Morbi quis lectus at justo faucibus facilisis. Ut vitae finibus purus. 
					Fusce sed pulvinar lectus. Donec non eros tempor, fringilla mi nec, convallis lectus. Vestibulum tortor nisl, porta at ornare et, viverra ultricies quam. 
					Sed tincidunt erat sit amet porttitor convallis. Vivamus suscipit, odio eu rhoncus suscipit, tellus odio sollicitudin nisl, sit amet lobortis risus urna in nisl. 
					Proin lobortis, tortor id mollis vestibulum, turpis lacus porta enim, a laoreet dui urna eget mauris. Cras diam magna, bibendum ac nibh tincidunt, scelerisque placerat odio. 
					Nulla mollis mattis neque, ut accumsan turpis ornare ut. Curabitur tincidunt placerat eros et bibendum.
					</p>
					<p>
					Duis commodo sed orci id interdum. Nam mattis tincidunt sem. Nulla sit amet arcu sed magna vestibulum facilisis at at justo. Nulla sit amet enim justo. Sed scelerisque erat et sodales gravida. In id est vitae dui interdum convallis eu vitae turpis. 
					Nulla nec odio pulvinar, lobortis tortor vel, cursus ex. Sed vitae massa vitae risus aliquet volutpat eget quis dui. Duis a mollis elit, ut rhoncus nibh. 
					Phasellus efficitur tincidunt libero id pulvinar. Etiam et sagittis risus. In nisi enim, luctus a commodo ac, feugiat in turpis. Cras vitae orci porttitor, maximus quam in, hendrerit nibh. 
					Nulla sem orci, feugiat quis neque at, rutrum volutpat nunc. Etiam non tellus eu turpis maximus faucibus. Morbi maximus mauris sed felis aliquam rhoncus. 
					Donec eleifend porta nibh sit amet tempor. Sed semper risus nec mauris maximus posuere.
					</p>
				</div>
				<form action='' method='' id='reservation-form'>
					<h2>Reservations</h2>
					<fieldset>
						<label for='firstName'>First Name</label>
						<input type='text' id='firstName'>
						<label for='lastName'>Last Name</label>
						<input type='text' id='lastName'>
						<label for='email'>Email</label>
						<input type='email' id='email'>
						<label for='phone'>Phone Number</label>
						<input type='tel' id='phone'>
						<label for='date'>Date</label>
						<input type='date' id='date'>
						<label for='time'>Time</label>
						<input type='time' id='time'>
						<input type='submit' id='submit-button'>
					</fieldset>
				</form>
			</aside>
			
			<section id='menu'>
				<h2>Menu</h2>
				<div class='gallery'>
					<img src='https://s3.amazonaws.com/bloc-foo/salad.jpg' alt='$7.99 for cobb salad'>
					<div class='middle'>
						<p>$7.99<p><p>Fresh, delicious Cobb Salad<p>
					</div>
				</div>
				<div class='gallery'>
					<img src='https://s3.amazonaws.com/bloc-foo/hamburger.jpg' alt='$6.99 for hamburger'>
					<div class='middle'>
						<p>$6.99</p><p>1/4 lb grass-fed burger with choice of cheese</p>
					</div>
				</div>
				<div class='gallery'>
					<img src='https://s3.amazonaws.com/bloc-foo/chicken_salad_sandwich.jpg' alt='$8.99 for chicken salad sandwich'>
					<div class='middle'>
						<p>$8.99</p><p>Our world famous chicken salad on a bagel with homemade pickles</p>
					</div>
				</div>
				<div class='gallery'>
					<img src='https://s3.amazonaws.com/bloc-foo/buffalo_chicken_sandwich.jpg' alt='$10.99 for spicy chicken sandwich'>
					<div class='middle'>
						<p>$10.99</p><p>Spicy fried chicken on a brioche bun</p>
					</div>
				</div>
				<div class='gallery'>
					<img src='https://s3.amazonaws.com/bloc-foo/fries.jpeg' alt='$1.99 for french fries'>
					<div class='middle'>
						<p>$1.99</p><p>Hand cut potatoes lightly fried and seasoned</p>
					</div>
				</div>
				<div class='gallery'>
					<img src='https://s3.amazonaws.com/bloc-foo/soda.jpeg' alt='$1.00 for soda'>
					<div class='middle'>
						<p>$1.00</p><p>Regular, diet, orange, or root beer</p>
					</div>
				</div>
			</section>
		</main>
		
		<footer>
			<ul id='contact'>
				<li>Phone: 555-555-5555</li>
				<li>Email: SuzyQ@restaurant.com</li>
				<li>Address: 1234 Main St. Ann Arbor, MI</li>
				<li>&copy; 2018 Cortney Thomas</li>
			</ul>
		</footer>
		
	</body>
</html>